[Unit]
Description=AutoApply Bot (Selenium)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/BotVagas
ExecStart=/home/ubuntu/BotVagas/venv/bin/python3 -m src.modules.selenium_bot.runner
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target
